body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
	color: rgba(59,70,76,1);
}
.img-responsive {
    margin: 0 auto;
    padding: 20px 0;
}
.navbar {
	margin-bottom: 0;
	background-color: rgba(59,70,76,1);
	border-radius: 0;
}
.navbar-default .navbar-nav>li>a  {
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover  {
	color: #fafafa;
}
.navbar-default {
	border:0;
	border-bottom: 1px solid rgba(35,51,76,0.5);
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-brand:hover {
	color: #f1f1f1;
}

.section-header { 
    float: none;
    margin: 0 auto;
}
.slider {
	background-color: rgba(59,70,76,1);
	color: #fff;
	text-align: center;
	padding: 30px 0;
}

.white-section {
	color: rgba(128,128,128,1);
	background-color: rgba(255,255,255,1);
	text-align: center;
	padding: 30px 0;
}
.gray-section {
	color: rgba(128,128,128,1);
	background-color: rgba(238,238,238,1);
	text-align: center;
	padding: 30px 0;
}
.divider:before {
	content: " : ";
}
footer{
	text-align: center;
	padding: 30px 0;
}

footer li {
	display: inline;

}
footer li a {
		color: rgba(59,70,76,1);
}